.home__boxListVideo{
  .home__boxListVideo--header{
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    .name{
      color:#fff;
      margin: 0;
      margin-right: 30px;
      font-family: 'Averta-Bold';
      font-size: 28px;
    }

  }
}
