@font-face {
	font-family: "Averta-Bold";
	src:  url("./asset/fonts/Averta/Averta-Bold.otf") ;
}
@font-face {
	font-family: "Averta-Regular";
	src:  url("./asset/fonts/Averta/Averta-Regular.otf") ;
}

*{
  list-style: none;
  text-decoration: none !important;
  color:#fff;
  font-family:'Averta-Regular' ;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  padding: 0;
  
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #192536;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
