.search-auto-complete{
    display: none;
    &.active{
        display: block;
    }
    background: #fff;
    .header-title{
        display: flex;
        align-items: center;
        padding:5px 2px;
        background: #f7f7f7;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        .icon{
            display: inline-block;
            width: 22px;
            height: 23px;
            background-image: url(https://i.imgur.com/pPsl2BY.png);
            background-repeat: no-repeat;
            margin-right: 4px;
        }
    }

    .videos{
        .icon{
            background-position: -67px -2px;
        }
    }
    .songs{
        .icon{
            background-position: 4px -2px;
        }
    }
    .artists{
        .icon{
            background-position: -18px -2px;
        }
    }
    .playlists{
        .icon{
            background-position: -43px -2px;
        }
    }

    span{
        color:#8d8d8d;
        font-size: 16px;
    }
    .results{
        .item{
            
            .link-item{
                color:#8d8d8d;
                font-size: 14px;
                padding-left: 15px;
                display: block;
                width: 100%;
                padding:5px 10px;
                &:hover{
                    background: #ccc;
                    color:#21b685;
                }
            }
            
            
        }
        
    }
}